<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <test.Properties.Settings>
      <setting name="com_1" serializeAs="String">
        <value />
      </setting>
      <setting name="baud_1" serializeAs="String">
        <value />
      </setting>
      <setting name="interval_1" serializeAs="String">
        <value />
      </setting>
      <setting name="sendout_1" serializeAs="String">
        <value />
      </setting>
    </test.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <test.Properties.Settings>
      <setting name="greeting" serializeAs="String">
        <value>hello world!</value>
      </setting>
      <setting name="com1" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="baud1" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="interval" serializeAs="String">
        <value>100</value>
      </setting>
    </test.Properties.Settings>
  </applicationSettings>
</configuration>